/* services begin*/
.electrics-services
	.left_right
		justify-content: space-between

		.left
			@include f-width(48%)

		.right
			@include f-width(48%)
			p
				font-size: 18px

		@media ( max-width: 991px)
			.left
				margin-bottom: 15px
				@include f-width(100%)
			.right
				@include f-width(70%)

		@media ( max-width: 767px)
			.right
				@include f-width(100%)
				p
					font-size: 16px

	.electrics-list
		justify-content: space-between
		flex-wrap: wrap
		counter-reset: number

		&_item
			margin-top: 80px
			font-size: 18px
			position: relative
			counter-increment: number
			@include f-width(32%)

			@media (max-width: 991px)
				@include f-width(45%)
			@media (max-width: 767px)
				flex: 0 0 100%
				max-width: 290px
				margin-left: auto
				margin-right: auto

			.box
				width: 50px
				height: 50px
				box-shadow: inset 3px 3px 0 0px #ec9e14, inset -3px -3px 0 0px #ec9e14
				position: relative
				z-index: 1
				&::before, &::after
					content: ''
					background-color: #fff
					position: absolute
					width: 56px
					height: 15px
					top: 50%
					margin-top: -7px
					left: -1px
					z-index: -1
				&::after
					transform: rotate(90deg)
					left: -2px

				@media (max-width: 767px)
					margin: 0 auto

				.count
					color: #000
					text-align: center
					line-height: 50px
					&::before
						content: counter(number)
						display: block
						font-size: 16px
						color: #000
						font-size: 30px

			p
				margin-bottom: 0
				min-height: 80px
				margin-bottom: 40px
			.title-5
				margin: 0
				margin-top: 45px
				margin-bottom: 17px
				color: $accent
				text-transform: uppercase
				font-weight: 600

			.n-btn.orange
				position: absolute
				left: 0
				bottom: 0
				width: 100%

@media (max-width: 767px)			
	.electrics-services__btn
			margin-left: auto
			margin-right: auto