/* BEGIN SLIDER */
.process
	padding-top: 0
	margin-top: -70px
	&__title
		margin-bottom: 70px
	&-slider
		max-width: 950px
		margin: 0 auto
		@media (max-width: 1199px)
			width: 100%
			padding: 0 94px
		@media (max-width: 991px)
			padding: 0 65px
		@media (max-width: 767px)
			padding: 0 0 30px 
		@media (max-width: 575px)
			padding: 0 0 50px 
	&__item
		&:focus
			outline: 0
		img
			width: 100%
			height: 587px
			object-fit: cover
			@media (max-width: 991px)
				height: 450px
			@media (max-width: 767px)
				height: 360px
			@media (max-width: 575px)
				height: 290px
			@media (max-width: 375px)
				height: 220px

	//begin slick https://kenwheeler.github.io/slick/
	.slick-slider
		position: relative
		display: block
		box-sizing: border-box
		user-select: none
		-webkit-touch-callout: none
		-khtml-user-select: none
		-ms-touch-action: pan-y
		touch-action: pan-y
		-webkit-tap-highlight-color: transparent

	.slick-list
		position: relative
		display: block
		overflow: hidden
		margin: 0
		padding: 0
		&:focus
			outline: none
		&.dragging
			cursor: pointer
			cursor: hand

	.slick-slider
		.slick-track, .slick-list
			transform: translate3d(0, 0, 0)

	.slick-track
		position: relative
		top: 0
		left: 0
		display: block
		&:before
			display: table
			content: ''
		&:after
			display: table
			content: ''
			clear: both

	.slick-loading .slick-track
		visibility: hidden

	.slick-slide
		display: none
		float: left
		height: 100%
		min-height: 1px
		&:focus 
			outline: 0

	.slick-slide
		img
			display: block
		&.slick-loading img
			display: none
		&.dragging img
			pointer-events: none

	.slick-initialized .slick-slide
		display: block

	.slick-loading .slick-slide
		visibility: hidden

	.slick-vertical .slick-slide
		display: block
		height: auto
		border: 1px solid transparent

	.slick-arrow.slick-hidden
		display: none

	//slick theme

	// Arrows
	.slick-prev, .slick-next
		font-size: 10px
		color: transparent
		line-height: 0
		position: absolute
		display: inline-block
		width: 5.1em
		height: 5.1em
		background: $accent
		z-index: 2
		cursor: pointer
		border: 1px solid $accent
		outline: none
		top: 50%
		@media (max-width: 767px)
			top: auto
			bottom: -60px
			
		&::before
			content: ""
			display: block
			position: absolute
			top: 50%
			border: 2px solid $white
			width: 16px
			height: 16px
		&::after
			content: normal
		

	.slick-prev::before
		left: 20px
		border-right: 0
		border-top: 0
		transform: translateY(-50%) rotate(45deg)
	.slick-next::before
		right: 20px
		border-left: 1px
		border-bottom: 1px
		transform: translateY(-50%) rotate(45deg)
	.slick-prev
		left: 0
		transform: translate(-180%, -50%)
		transition: all 0.25s
		@media (max-width: 991px)
			transform: translate(-120%, -50%)
		@media (max-width: 767px)
			transform: translate(0, 0)
			left: calc(50% - 70px)
	.slick-next
		right: 0
		transform: translate(180%, -50%)
		transition: all 0.25s
		@media (max-width: 991px)
			transform: translate(120%, -50%)
		@media (max-width: 767px)
			transform: translate(0, 0)
			right: calc(50% - 70px)
	.slick-prev,
	.slick-next
		&:hover, &:focus
			outline: none
			opacity: 1
			background: transparent
			&::before
				border-color: $accent

	.slick-prev
		&:hover:before, &:focus:before
			opacity: 1
	.slick-next
		&:hover:before, &:focus:before
			opacity: 1

	.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
		opacity: .25

	.slick-prev:before, .slick-next:before
		//font-size: 20px
		//line-height: 1
		opacity: .75
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
	.slick-prev:before
		content: '←'
		font-size: 0

	.slick-next:before
		content: '→'
		font-size: 0
	// Dots
	.slick-dotted.slick-slider
		margin-bottom: 30px

	.slick-dots
		position: absolute
		bottom: -25px
		display: block
		width: 100%
		padding: 0
		margin: 0
		list-style: none
		text-align: center
		li
			position: relative
			display: inline-block
			width: 20px
			height: 20px
			margin: 0 5px
			padding: 0
			cursor: pointer
			button
				width: 10px
				height: 10px
				border-radius: 50%
				border: 1px solid red
				font-size: 0
				line-height: 0
				display: block
				padding: 0px
				cursor: pointer
				color: transparent
				outline: none
				background: green
				&:hover, &:focus
					outline: none
				&:hover:before, &:focus:before
					opacity: 1

			&.slick-active button
				opacity: .75
				color: black
				background: red
				transform: scale(1.5)
	//end slick

.twentytwenty-handle
	background: url(../img/svg/handle-arrow.svg) no-repeat center left
	background-size: contain
	display: block
	font-size: 3px
	width: 15em
	height: 15em
	border: none
	box-shadow: none
	margin: 0 0 0 -23px
	top: 10px
	border-radius: 0

.twentytwenty-left-arrow,
.twentytwenty-right-arrow
	display: none
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after
	background: #7b8080
	box-shadow: none
	margin: 0
.twentytwenty-before-label,
.twentytwenty-after-label
	font-family: $default-font
	display: none
/* END SLIDER */