/* ------------------------------------- 
	Common styles 
	------------------------------------- */
.main-wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	.page
		flex: 1
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.main-wrapper
		display: block


.container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto

@media (min-width: 576px)
	.container
		max-width: 540px

@media (min-width: 768px)
	.container
		max-width: 758px

@media (min-width: 992px)
	.container
		max-width: 960px

@media (min-width: 1200px)
	.container
		max-width: 1170px


.flex, .flex-center
	display: flex
	flex-wrap: wrap

.flex-center
	align-items: center
	justify-content: center
	
.img
	display: block
	max-width: 100%
	height: auto
	&--cover
		width: 100%
		height: 100%
		object-fit: cover

.svg
	display: block
	max-width: 100%
	max-height: 100%

.nowrap
	white-space: nowrap

.text-center
	text-align: center

.list
	margin: 0
	padding: 0
	list-style: none



.sec-ptb
	padding: 130px 0 
	@media (max-width : 480px)
		padding: 50px 0 
/* ---------- Titles & text ---------- */
.title-1
	font-size: 35px
	line-height: 1.43
	@media (max-width : 767px)
		font-size: 28px
	@media (max-width : 480px)
		font-size: 26px
		text-align: center
.title-2






@media (max-width : 1199px)
	/**/

@media (max-width : 991px)
	/**/
@media (max-width : 767px)
	/**/

@media (max-width : 575px)
	/**/

@media (max-width : 480px)
	/**/
@media (max-width : 375px)
	/**/






// @include max-screen($xl)