section.consultation.sec-ptb.sec-bg
  .container
    .left_right.flex.tac-mob
      .left
        .title-1 Доверьте серьезную работу #[br]профессионалам
        .small-desc Акцентируем внимание на безопасности и безупречном качестве. Рассчитайте стоимость работ прямо сейчас или получите подробную консультацию специалиста. 
        a(href="#").cd-popup-trigger-order-js.n-btn Рассчитать стоимость
      .right
        img(src="img/electrics-page/consultation.jpg", alt="").img--cover