mixin numeral-list_item(count, some, text)
  .numeral-list_item
    p
      span.count=count
      span.some=some
    p.text=text

section.numeral.sec-ptb.numeral-blue
  .container
    .numeral-list.flex.tac-mob
      +numeral-list_item('7', 'лет', 'минимальный опыт работы любого специалиста по электрике')
      +numeral-list_item('1 450', '', 'успешно завершенных объектов')
      +numeral-list_item('890', '', 'клиентов порекомендовали нас близким')
      +numeral-list_item('100', '%', 'положительных отзывов о работе')
