mixin partners-item(img)
  .partners-list_item
    img(src=img, alt="").img


section.partners.sec-ptb
  .container.tac-mob
    .our-partners.flex
      .title-1 Engis: эксперты в электрике #[br]с 20-летним стажем
      .partners-desc
        p Компания Engis — профессионалы в сфере электромонтажа. Наши мастера имеют высокую квалификацию и необходимые допуски. Делаем работу на века.
        p В работе используем высокотехнологичное оборудование — профессиональные штроборезы, промышленные пылесосы, современные лазерные уровни, кабель-трекеры. Приобретаем технику и комплектующие у ведущих брендов. 
    .partners-list.flex
      +partners-item('img/partner-1.png')
      +partners-item('img/partner-2.png')
      +partners-item('img/partner-3.png')
      +partners-item('img/partner-4.png')
      +partners-item('img/partner-5.png')
      +partners-item('img/partner-6.png')