mixin projectsSlide()
	.js-slide.projects__slide
		.projects__item.flex
			.projects__media
				.projects__img
					img.img(src="img/slide-1.jpg", alt="")
				.projects__video.flex
					a.projects__video-btn(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk") #[span.projects__video-arrow]
					span.projects__video-caption Посмотрите видео #[br] с объекта
			.projects__content.sec-bg
				.projects__content-location.flex
					i.fas.fa-map-marker-alt
					span.projects__content-adress МО, п. Пушкино
				.projects__content-descr
					p Монтаж радиаторной системы отопления, теплых полов, разводка холодного и горячего водоснабжения, организация линия рециркуляции горячей воды. Монтаж трубопроводов системы отопления. Установка газового напольного котла и напольного бойлера косвенного нагрева. Реализация автоматики котельной.
				.projects__characteristic.flex
					.projects__characteristic-item
						h4.projects__characteristic-headline Площадь объекта:
						span.projects__characteristic-txt 1757м2
					.projects__characteristic-item
						h4.projects__characteristic-headline Этажность объекта:
						span.projects__characteristic-txt 3 этажа
					.projects__characteristic-item
						h4.projects__characteristic-headline Запланированный срок:
						span.projects__characteristic-txt 45 дней
					.projects__characteristic-item
						h4.projects__characteristic-headline Сдача объекта через:
						span.projects__characteristic-txt 36 дней
				a.projects__content-btn.cd-popup-trigger-order-js(href="#") Получить смету
					









//PROJECTS BEGIN
section.projects.sec-ptb
	.container
		.projects__title.title-1 Выполненные #[br]проекты
			
		#js-testimonials-slider.projects__slider
			+projectsSlide()
			+projectsSlide()

		// /#js-testimonials-slider

//PROJECTS END