mixin electrics-list_item(title, text)
	.electrics-list_item.tac-mob
		.box
			.count
		.title-5!=title
		p!=text
		a(href="#").electrics-services__btn.button.button--subaccent Рассчитать стоимость

//sec1 BEGIN
section.electrics-services.sec-p
	.container
		.left_right.flex.tac-mob
			.left
				.title-1 Любая электрика: #[br]от розеток до комплексного оснащения
			.right
				p Работаем с частными лицами и организациями, выполняем внешние и внутренние работы разного уровня сложности.

		.electrics-list.flex
			+electrics-list_item('Подведение воздушных и подземных линий', 'Проведем электричество к дому и участку наиболее безопасным способом.')
			+electrics-list_item('установка <br>заземления', 'Обеспечим 100% защиту от поражения электрическим током.')
			+electrics-list_item('установка <br>трансформаторов', 'Выберем наиболее удобное и функциональное расположение в помещении.')
			+electrics-list_item('монтаж <br>охранных систем', 'Установим видеонаблюдение, системы безопасности, сигнализацию.')
			+electrics-list_item('установка <br>подсветки', 'Установим осветительное оборудование для зданий, дорожек, прудов, беседок, заборов.')
			+electrics-list_item('разметка <br>и штробление', 'Составим чертежи с соблюдением свода правил, проштробим стены с учетом особенностей здания.')
			+electrics-list_item('монтаж <br>проводки', 'Рассчитаем правильное расстояние от пола и потолка, высоту розеток, подберем современные материалы.')


			+electrics-list_item('установка <br>электроотопления', 'Подключим системы, работающие<br> от сети (электрокотлы, водонагреватели).')
			+electrics-list_item('Монтаж электроприборов <br>и оборудования', 'Установим розетки, выключатели светильники, электрические звонки. Подключим бытовые приборы. ')
//sec1 END
