mixin causes-item(title_1, title_2, text)
  .causes-list_item
    p.blue-text=title_1
      br 
      =title_2
    p.desc=text

section.why.sec-ptb.sec-bg
  .container.tac-mob
    .title-1 6 принципов #[br]достижения целей 
    .causes-list.flex
      +causes-item('Официальный', 'Договор', 'Прописываем все наши обязательства и гарантии, фиксируем смету')
      +causes-item('Работа', 'под ключ', 'Вам не придется заниматься рутиной и разбираться в чертежах — все берем на себя, в том числе закупку оборудования')
      +causes-item('Финансовая гарантия', ' соблюдения сроков', 'Сдаем объект строго в оговоренное время, в случае несоблюдения выплатим вам компенсацию')
      +causes-item('Чистота', ' после ремонта', 'Убираем за собой весь строительный мусор — вывозим согласно правилам')
      +causes-item('Поэтапная сдача', ' с отчетом', 'Показываем результаты по каждому этапу, чтобы вы держали руку на пульсе')
      +causes-item('Усиленный контроль качества', ' и безопасности', 'Проверим электрику в стандартном режиме и под пиковой нагрузкой')
