section.block-3d
	background: $accent
	color: #fff

	.left_right
		justify-content: center
		.left
			position: relative
			padding-bottom: 70px
			@include f-width(42%)
			.n-title-1
				@media ( max-width: 767px )
					font-size: 25px !important

			.small-desc
				margin-top: 35px
				font-weight: 300
				@media ( max-width: 767px )
					br
						display: none

			.n-btn
				border: 1px solid $white
				background-color: transparent
				width: 360px
				height: 60px
				position: absolute
				left: 0
				bottom: 0
				&:hover
					background-color: $subaccent
					border-color: transparent

				@media (max-width: 767px)
					left: 50%
					margin-left: -150px
					width: 300px

		.right
			position: relative
			@include f-width(58%)
			.n-img
				position: relative
				display: block
				z-index: 0
			.slider-3d__img
				position: relative
				img
					min-height: 394px
					@media ( max-width: 767px )
						min-height: 300px
					@media ( max-width: 480px )
						min-height: 240px
					@media ( max-width: 375px )
						min-height: 220px
				&::before
					content: ''
					display: block
					background-color: #000000
					opacity: 0.5
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					z-index: 2
					transition: .2s ease
				&::after
					content: ''
					display: block
					width: 56px
					height: 56px
					position: absolute
					background: center / contain no-repeat url('../img/360-img.svg')
					top: 50%
					margin-top: -28px
					left: 50%
					margin-left: -28px
					z-index: 3
				&:hover
					&::before
						opacity: .7

			p
				margin-top: 30px
				margin-bottom: 0
				@media (max-width: 1199px)
					margin-top: 5px
				@media (max-width: 991px)
					margin-top: 30px
		// MEDIA
		@media (max-width: 991px)
			flex-direction: column
			.left,.right
				@include f-width(100%)
			.left
				order: 2
				margin-top: 25px
			.right
				order: 1


.slider-3d
	&__headline
		font-size: 18px
		padding-right: 80px
		@media ( max-width: 767px )
			padding-right: 0
		@media ( max-width: 375px )
			font-size: 16px
	.slick-prev,
	.slick-next
		bottom: -15px
		top: auto
		&:after
			background: $subaccent
		&:before
			border-color: $subaccent
			

