section.about
	.left_right
		.left
			@include f-width(50%)

		.right
			@include f-width(50%)
			p
				font-size: 18px
				margin-bottom: 1.5em

		// MEDIA
		@media (max-width: 991px)
			flex-direction: column

			.left
				margin-bottom: 25px
				@include f-width(100%)
			.right
				@include f-width(100%)
				p
					font-size: 16px
					margin-bottom: 25px
