section.capabilities
  background-color: $accent
  color: $white

  .left_right
    justify-content: space-between
    flex-wrap: wrap

    .left
      @include f-width(48%)
      display: flex
      flex-direction: column
      justify-content: space-between
      .n-title-1
        font-weight: 300
        margin-bottom: 100px

      .left-desc
        font-size: 21px
        font-weight: 500
        font-style: italic
        @media (max-width: 400px)
          font-size: 18px
    .right
      position: relative
      padding-bottom: 95px
      @include f-width(48%)

      .right-desc
        margin-bottom: 25px
        &:last-child
          margin-bottom: 0

      .n-btn
        background-color: $subaccent
        font-size: 18px
        position: absolute
        left: 0
        bottom: 0
        &:hover
          border: 1px solid $white
          background-color: transparent

    // MEDIA
    @media (max-width: 991px)
      flex-direction: column

      .right,.left
        @include f-width(100%)

      .right
        padding-bottom: 85px

      .left
        margin-bottom: 25px
        .n-title-1
          margin-bottom: 35px
        .left-desc
          border-bottom: 1px solid #fff3
          padding-bottom: 25px
