.consultation
  position: relative

  .left_right
    justify-content: space-between

    .left
      @include f-width(48%)
      .small-desc
        font-size: 16px
        font-weight: 400
        text-transform: none
      .n-btn
        font-size: 18px
        background-color: $subaccent
        color: $black
        font-weight: 6500
        &:hover
          background-color: $accent
          color: $white

    .right
      position: absolute
      top: 0
      right: 0
      height: 100%
      @include f-width(50%)

    // MEDIA
    @media (max-width: 991px)
      flex-direction: column

      .left
        .small-desc br
          display: none !important
        @include f-width(100%)
        .n-btn
          margin-top: 35px

      .right
        margin-top: 50px
        position: relative
        @include f-width(100%)
