// GENERAL STYLES
@mixin f-width($width)
	max-width: $width
	flex-basis: $width

section.sec-p
	padding: 125px 0
	@media (max-width: 767px)
		padding: 70px 0

.n-title-1
	font-size: 35px
	@media (max-width : 767px)
		font-size: 28px

.tac-mob
	@media (max-width : 767px)
		text-align: center

.sec-bg
	background-color: $gray-bg

// MAIN BLOCK
.main-block
	position: relative

	.left_right
		.left
			@include f-width(56%)
			.big-desc
				font-size: 42px
				line-height: 1.512
				font-weight: 300
				@media (max-width: 991px)
					br
						display: none
		.right
			height: 100%
			position: absolute
			top: 0
			right: 0
			@include f-width(44%)

		// MEDIA
		@media (max-width: 991px)
			flex-direction: column
			.left
				@include f-width(100%)

				.n-btn
					margin-top: 45px
			.right
				margin-top: 50px
				position: relative
				@include f-width(100%)

		@media (max-width: 767px)
			.left
				text-align: center
				.big-desc
					font-size: 36px 
		@media (max-width: 480px)
			.left
				.big-desc
					font-size: 28px 
		@media (max-width: 375px)
			.left
				.big-desc
					font-size: 26px 

.small-desc
	margin-top: 35px
	font-size: 14px
	font-weight: 500
	line-height: 1.5
	letter-spacing: 0.7px
	text-transform: uppercase

.gold-text
	color: $subaccent
	font-weight: 700

.n-btn
	margin-top: 75px
	width: 260px
	height: 50px
	display: flex
	justify-content: center
	align-items: center
	color: #fff
	transition: .2s ease
	background-color: $accent
	cursor: pointer

	&.center-mob
		@media (max-width: 767px)
			left: 50% !important
			margin-left: -130px

	&:hover
		background-color: $subaccent
		color: #fff

	@media (max-width: 767px)
		margin: 0 auto




.guarantee__descr
	justify-content: space-between
	margin: 88px 0 0 0
.descr__item
	position: relative
	&::before
		content: ''
		position: absolute
		top: -18px
		left: 0
		width: 83px
		height: 2px
		background-color: $subaccent

	h3.descr__item_title
		font-size: 14px
		font-weight: 500
		line-height: 1.5
		text-transform: uppercase

@media (max-width: 991px)
	.guarantee__descr
		margin: 70px 0
		justify-content: space-around
	.descr__item
		text-align: center
		margin-bottom: 30px
		padding: 0 15px
		flex: 0 0 32%
		max-width: 32%
		&::before
			left: 50%
			transform: translateX(-50%)

@media (max-width: 575px)
	.descr__item
		padding: 0 10px
	.descr__item h3.descr__item_title
		font-size: 13px

@media (max-width: 480px)
	.descr__item
		flex: 0 0 100%
		max-width: 100%