section.numeral
  .numeral-list
    justify-content: space-between

    &_item
      @include f-width(23%)
      p
        margin: 0
        .count
          font-size: 90px
          font-weight: 500
        .some
          margin-left: 15px
          font-weight: 500
          font-size: 18px

      .text
        font-size: 18px
        font-weight: 500

    // MEDIA
    @media (max-width : 1199px)
      &_item
        padding: 0 15px
        margin-bottom: 30px
        p
          font-size: 16px
          .count
            font-size: 70px

    @media (max-width : 991px)
      &_item
        @include f-width(50%)

    @media (max-width : 767px)
      &_item
        border-bottom: 1px solid #d3d3d3
        padding-bottom: 15px
        @include f-width(100%)

        &:last-child
          border: none
        p
          .count
            font-size: 50px


.numeral-blue
  background: $accent
  color: #f9f9f7!important