section.partners
  .our-partners
    justify-content: space-between
    .partners-desc
      @include f-width(48%)

  .partners-list
    margin-top: 70px
    justify-content: space-between
    flex-wrap: wrap

    &_item
      padding: 15px
      height: 95px
      border: 1px solid #ccc
      display: flex
      align-items: center
      justify-content: center
      @include f-width(15%)

  // MEDIA
  @media (max-width: 991px)
    .our-partners
      flex-direction: column

      .partners-desc
        margin-top: 35px
        @include f-width(100%)

    .partners-list
      &_item
        margin-bottom: 30px
        @include f-width(30%)

  @media (max-width: 767px)
    .partners-list
      justify-content: center
      &_item
        @include f-width(80%)
