.projects
	&__title
		margin-bottom: 68px
	&__slider
	&__item
		align-items: flex-end
	&__media
		flex: 0 0 57%
		max-width: 57%
		margin-right: -7%
		@media (max-width : 991px)
			flex: 0 0 100%
			max-width: 100%
			margin-left: 0%
	&__img
		height: 415px
		@media (max-width : 767px)
			height: 320px
			@media (max-width : 480px)
				height: 250px
			@media (max-width : 375px)
				height: 200px
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__content
		flex: 0 0 60%
		max-width: 60%
		margin-left: -10%
		position: relative
		z-index: 2
		padding: 40px 50px 60px
		@media (max-width : 991px)
			flex: 0 0 100%
			max-width: 100%
			margin-left: 0%
		@media (max-width : 767px)
			padding: 40px 20px 60px
		@media (max-width: 480px)
			padding: 20px 10px 30px
			text-align: center
		&-location
			align-items: flex-end
			margin-bottom: 20px
			@media (max-width: 480px)
				justify-content: center
			i.fas.fa-map-marker-alt
				font-size: 24px
				color: $accent
		&-adress
			font-size: 18px
			font-weight: 700
			line-height: 1
		&-descr
			font-size: 16px
			margin-bottom: 24px
			
		&-btn
			display: flex
			justify-content: center
			align-items: center
			line-height: 1
			width: 285px
			height: 61px
			font-weight: 500
			background-color: $subaccent
			margin: 30px 0 0 0
			transition: all 0.25s
			@media (max-width: 480px)
				margin: 30px auto 0
			&:hover
				background: $accent
				color: #fff
	&__characteristic
		justify-content: space-between
		&-item
			flex: 0 0 48%
			max-width: 48%
			margin-bottom: 12px
			@media (max-width: 480px)
				flex: 0 0 100%
				max-width: 100%
				text-align: center
		&-headline
			font-size: 16px
			font-weight: 700
		&-txt
			font-size: 16px
	&__video
		font-size: 10px
		align-items: center
		padding: 10px 0px 10px 10px
		margin: 38px 0 55px 15% 
		@media (max-width: 480px)
			justify-content: center
			margin: 30px auto
			font-size: 8px
			padding: 0
		&-btn
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			position: relative
			border-radius: 100%
			width: 8em
			height: 8em
			background-color: rgba($accent,0.4)
			box-shadow: 0 0 0 1em rgba($accent,0.2)
			transition: all 0.25s
			margin-right: 20px
			&:hover
				box-shadow: none
				background-color: $accent
		&-arrow
			position: relative
			border-radius: 100%
			width: 6em
			height: 6em
			background: $accent
			display: block
			&::before
				content: ''
				position: absolute
				border: 1.2em solid transparent
				border-left: 2em solid #fff
				left: 50%
				top: 40%
				width: 2em
				height: 2em
				transform: translate(-0.75em,-0.75em)
		&-caption
			font-size: 16px
			font-weight: 600


//begin slick https://kenwheeler.github.io/slick/
.slick-slider
	position: relative
	display: block
	box-sizing: border-box
	user-select: none
	-webkit-touch-callout: none
	-khtml-user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent

.slick-list
	position: relative
	display: block
	overflow: hidden
	margin: 0
	padding: 0
	&:focus
		outline: none
	&.dragging
		cursor: pointer
		cursor: hand

.slick-slider
	.slick-track, .slick-list
		transform: translate3d(0, 0, 0)

.slick-track
	position: relative
	top: 0
	left: 0
	display: block
	&:before
		display: table
		content: ''
	&:after
		display: table
		content: ''
		clear: both

.slick-loading .slick-track
	visibility: hidden

.slick-slide
	display: none
	float: left
	height: 100%
	min-height: 1px
	&:focus 
		outline: 0

.slick-slide
	img
		display: block
	&.slick-loading img
		display: none
	&.dragging img
		pointer-events: none

.slick-initialized .slick-slide
	display: block

.slick-loading .slick-slide
	visibility: hidden

.slick-vertical .slick-slide
	display: block
	height: auto
	border: 1px solid transparent

.slick-arrow.slick-hidden
	display: none

//slick theme

// Arrows
.slick-prev, .slick-next
	font-size: 0
	line-height: 0
	position: absolute
	display: inline-block
	width: 20px
	height: 30px
	z-index: 2
	cursor: pointer
	opacity: .9
	border: none
	outline: none
	top: 0
	transform: translate(0, -50%)
	&::before
		content: ""
		display: block
		position: absolute
		top: 50%
		right: 0
		border: 2px solid #2f4d8a
		width: 10px
		height: 10px
	&::after
		content: " "
		display: block
		height: 2px
		width: 20px
		background: #2f4d8a


.slick-prev::before
	left: 0
	border-right: 0
	border-top: 0
	transform: translateY(-50%) rotate(45deg)
.slick-next::before
	right: 0
	border-left: 1px
	border-bottom: 1px
	transform: translateY(-50%) rotate(45deg)
.slick-prev
	right: 50px
.slick-next
	right: 0

.slick-prev,
.slick-next
	&:hover, &:focus
		outline: none
		opacity: 1

.slick-prev
	&:hover:before, &:focus:before
		opacity: 1
.slick-next
	&:hover:before, &:focus:before
		opacity: 1

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
	opacity: .25

.slick-prev:before, .slick-next:before
	//font-size: 20px
	//line-height: 1
	opacity: .75
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
.slick-prev:before
	content: '←'
	font-size: 0

.slick-next:before
	content: '→'
	font-size: 0
// Dots
.slick-dotted.slick-slider
	margin-bottom: 30px

.slick-dots
	position: absolute
	bottom: -25px
	display: block
	width: 100%
	padding: 0
	margin: 0
	list-style: none
	text-align: center
	li
		position: relative
		display: inline-block
		width: 10px
		height: 10px
		margin: 0 5px
		padding: 0
		cursor: pointer
		button
			width: 10px
			height: 10px
			border-radius: 50%
			border: 1px solid $subaccent
			font-size: 0
			line-height: 0
			display: block
			padding: 0px
			cursor: pointer
			color: transparent
			outline: none
			background: $subaccent
			&:hover, &:focus
				outline: none
			&:hover:before, &:focus:before
				opacity: 1

		&.slick-active button
			opacity: 1
			color: black
			background: $accent
//end slick

/* END SLIDER */


.projects 
	.slick-prev,
	.slick-next
		top: -80px

