section.why
  .causes-list
    margin-top: 60px
    margin-bottom: -50px
    flex-wrap: wrap
    justify-content: space-between

    .causes-list_item
      margin-bottom: 50px
      @include f-width(31%)

      .blue-text
        font-size: 18px
        color: $accent
        font-weight: 700
        margin-bottom: 20px
      .desc

    // MEDIA
    @media (max-width: 991px)
      .causes-list_item
        @include f-width(48%)
    @media (max-width: 767px)
      .causes-list_item
        @include f-width(100%)
