/* ----- Кнопки ----- */
.button
	display: flex
	align-items: center
	justify-content: center
	width: 261px
	height: 50px
	line-height: 1
	color: $white
	position: relative
	z-index: 1
	cursor: pointer
	overflow: hidden
	transition: all 0.25s
	&--accent
		background: $accent
		&:hover
			background: $subaccent
	&--subaccent
		background: $subaccent
		&:hover
			background: $accent
			color: #fff