.cd-popup
	position: fixed
	z-index: 999
	left: 0
	top: 0
	height: 100%
	width: 100%
	background-color: rgba(0,0,0,0.6)
	display: block
	opacity: 0
	visibility: hidden
	transition: opacity 0.3s 0s, visibility 0s 0.3s
	&.is-visible
		opacity: 1
		visibility: visible
		transition: opacity 0.3s 0s, visibility 0s 0s

.cd-popup-container
	position: relative
	height: 100%
	background: rgba(0,0,0,0.8)
	border-radius: .25em .25em .4em .4em
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
	// Force Hardware Acceleration in WebKit
	-webkit-backface-visibility: hidden
	-webkit-transition-property: -webkit-transform
	transition-property: transform
	transition-duration: 0.3s
.cd-popup-container .cd-popup-close
	position: absolute
	top: 7px
	right: 8px
	width: 20px
	height: 20px
	border-radius: 50%
	border: 2px solid #7f7f7f
	cursor: pointer
	&::before, &::after
		content: ''
		position: absolute
		top: 7px
		width: 12px
		height: 2px
		background-color: #7f7f7f
	&::before
		transform: rotate(45deg)
		left: 2px
	&::after
		transform: rotate(-45deg)
		right: 2px

.img-replace
	// replace text with an image
	display: inline-block
	overflow: hidden
	text-indent: 100%
	color: #000
	white-space: nowrap

.popupContainerWrap
	box-shadow: 0 0 20px #020202
	background-color: #ffffff
	padding: 40px 40px
	position: relative
/* popup end */

.simplebar-content
	display: flex
	justify-content: center
	align-items: center


.cd-popup-form
	.popupContainerWrap
		max-width: 362px
		width: 100%
		margin: auto
		border: 1px solid #1c2135
		background-color: #ffffff
		padding: 60px 10px 30px 10px
	.input
		width: 100%
		border: 1px solid #1c2135
		margin-bottom: 12px
		background: none
		color: $text-color
		font-size: 16px
		font-family: 'FuturaNewBook'
		height: 61px
		padding: 10px
	.submit
		width: 100%
		background-color: #24408a
		height: 60px
		text-align: center
		display: flex
		justify-content: center
		align-items: center
		font-family: 'FuturaNewBook'
		color: #fff
		font-size: 18px
		text-transform: uppercase
		transition: all 0.25s
		border: none
		&:hover
			background: $subaccent
	.my__form-note
		font-size: 16px
		font-family: 'FuturaNewBook'
		display: block
		line-height: 1.3
		margin-bottom: 15px
	.my__form-privacy
		font-size: 14px
		font-family: 'FuturaNewBook'
		margin: 5px 0 0 0 
		a
			text-decoration: underline
			transition: all 0.25s
			color: $text-color
			&:hover
				text-decoration: none


.popup-thank
	.popupContainerWrap
		max-width: 443px
		width: 100%
		margin: auto
		background-color: #ffffff
		padding: 60px 10px 30px 10px
	&-headline
	&-subheadline
	&-link
