/* ----- footer ----- */
.footer
	background-color: $text-color
	padding: 25px 0 30px
	color: #f9f9f9
	&__row
		justify-content: space-between
		align-items: center
		flex-wrap: nowrap
		@media (max-width : 375px)
			flex-wrap: wrap
			justify-content: center
	&__logo
		flex: 0 0 133px
		max-width: 133px
		@media (max-width : 1199px)
			flex: 0 0 100px
			max-width: 100px
		@media (max-width : 375px)
			flex: 0 0 100%
			max-width: 100%
			margin-bottom: 10px
			img
				max-width: 100px
	&__nav
		flex: 0 0 calc(100% - 333px)
		padding: 0 20px
		@media (max-width : 1199px)
			padding: 0 5px
			flex: 0 0 calc(100% - 300px)
		@media (max-width : 991px)
			display: none
		ul
			justify-content: space-between
			color: #f9f9f9
			font-size: 18px
			@media (max-width : 1199px)
				font-size: 16px
			a
				padding: 0 5px
				font-family: 'FuturaNewBook'
				transition: all 0.25s
				&:hover
					color: $subaccent
	&__tel
		align-items: center
		font-size: 22px
		font-family: 'FuturaNewDemi'
	&__contacts
		color: #f9f9f9
		align-items: center
		flex: 0 0 200px
		max-width: 200px
		text-align: right
		margin-left: 2%
		@media (max-width : 375px)
			flex: 0 0 100%
			max-width: 100%
			margin: 0
			justify-content: center
		i
			width: 20px
			height: 20px
			border-radius: 100%
			line-height: 1.6
			font-size: 12px
			text-align: center
			color: $text-color!important
			vertical-align: middle
			display: 
			align-items: center
			justify-content: center
			background: #f9f9f9
			margin-right: 10px
		span
			font-size: 16px
			font-weight: 300
			font-family: 'FuturaNewBook'
			align-self: flex-end
			margin-bottom: 3px
			margin-right: 5px
	&__bottom
		border-top: 1px solid #f9f9f9
		margin-top: 26px
		padding: 24px 0 0
		font-family: 'FuturaNewBook'
		a
			text-decoration: underline
			transition: all 0.25s
			display: inline-block
			margin-left: 10px
			&:hover
				text-decoration: none
	&__nav-last
		color: $subaccent