i.fas.fa-map-marker-alt
	font-size: 14px
	line-height: 1
	color: $text-color
	display: inline-block
	margin: 3px 5px 0 0
i.fas.fa-phone-alt
	color: $accent
.header
	&__top
		background-color: #f9f9f7
		padding: 6px 0
		@media (max-width : 480px)
			padding: 2px 0
		&-row
			justify-content: space-between
			@media (max-width : 480px)
				align-items: center
				margin: 0 -6px
		&-right
			flex: 0 0 50%
			max-width: 50%
			justify-content: space-between
			@media (max-width : 767px)
				flex: 0 0 60%
				max-width: 60%
				flex-wrap: nowrap
				justify-content: flex-end
				align-items: center
	&__logo
		@media (max-width : 480px)
			max-width: 47px
	&__city
		font-family: 'FuturaNewMedium'
		font-size: 14px
		@media (max-width : 480px)
			display: flex
			font-size: 12px
			i.fas.fa-map-marker-alt
				font-size: 12px
				margin: 3px 2px 0 0
		&:hover
			color: $accent
		a
			position: relative
			padding-right: 10px
			&::before
				content: ''
				position: absolute
				top: 35%
				right: 0
				font-size: 10px
				width: 0.5em
				height: 0.5em
				border: 4px solid transparent
				border-top: 7px solid $text-color
		&-list
			a
				margin-bottom: 5px
				display: inline-block
				font-family: 'FuturaNewMedium'
				font-size: 14px
				&:hover
					color: $accent
	&__contacts
		flex: 0 0 50%
		max-width: 50%
		@media (max-width : 1199px)
			flex: 0 0 60%
			max-width: 60%
		@media (max-width : 767px)
			flex: 0 0 160px
			max-width: 160px
			align-items: center
			margin-right: 20px
			justify-content: flex-end
		@media (max-width : 480px)
			justify-content: center
			margin-right: 0
			flex: 0 0 140px
			max-width: 140px
	&__tel
		font-size: 16px
		font-family: 'FuturaNewDemi'
		@media (max-width : 480px)
			font-size: 15px
			margin-right: 6px
	&__callorder
		font-family: 'FuturaNewDemi'
		color: #2f4d8a
		font-size: 14px
		text-decoration: underline
		transition: all 0.25s
		display: inline-block
		margin: 2px 0 0 3px
		&:hover
			text-decoration: none
	&__account
		font-size: 14px
		font-family: 'FuturaNewMedium'
		@media (max-width : 480px)
			font-size: 16px
		a
			&:hover
				color: $accent
	&__search
		margin-left: 20px
		position: relative
		@media (max-width : 480px)
			margin-left: 10px
			font-size: 16px
		i
			&:hover
				color: $accent
	&__bottom
		background: #fff
		padding: 10px 0
		@media (max-width : 991px)
			padding-right: 50px
		&-row
			justify-content: space-between
			align-items: center
	&__shop
		font-family: 'FuturaNewDemi'
		color: $subaccent
		font-size: 16px
		text-transform: uppercase
		@media (max-width : 480px)
			font-size: 14px
	&__submenu
		position: absolute
		display: none
.form-search
	position: absolute
	display: none
	right: 0
	top: 30px
	height: 40px
	z-index: 99
	@media (max-width : 991px)
		right: 35px
	@media (max-width : 480px)
		right: 0px
	input
		height: 100%
		border-radius: 5px
		overflow: hidden
		border: 1px solid $subaccent
		padding: 5px
		background: #f9f9f7
		display: flex
		width: 290px
		align-items: center
		&:focus
			outline: none
	i
		position: absolute
		top: 0
		bottom: 0
		right: 0
		background: $subaccent
		width: 40px
		height: 100%
		display: flex
		border-radius: 0 5px 5px 0
		align-items: center
		justify-content: center
.nav__list
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin: 0 0 0 20px
	padding-left: 0
	list-style: none
	.nav__link
		margin: 0 20px
		font-size: 16px
		font-family: 'FuturaNewMedium'
		text-decoration: none
		transition: alll 0.25s
		&:hover
			color: #2f4d8a
@media (max-width : 991px)
	.nav
		padding: 0
		transition: all .25s
		position: fixed
		background: $white
		top: 44px
		right: 12px
		height: 36px
		width: 36px
		z-index: 90
		cursor: pointer
		@media (max-width : 480px)
			top: 30px
		&__list
			flex-direction: column
			transition: all 0s
			position: fixed
			right: -9000px
		&__toggle
			transition: all .25s
			content: ""
			height: 3px
			width: 30px
			border-radius: 15px
			background-color: $accent
			position: fixed
			top: 60px
			right: 15px
			z-index: 10
			@media (max-width : 480px)
				top: 47px
			&::before, &::after  
				transition: all .25s
				content: ""
				position: absolute
				left: 0
				height: 3px
				width: 30px
				border-radius: 15px
				background-color: $accent
			&::before
				top: -8px
			&::after 
				top: 8px
	
	.nav-expanded 
		transition: all .25s
		text-align: center
		line-height: 2em
		height: 100%
		width: 100%
		border-radius: 0px
		position: fixed
		right: 0
		left: 0
		top: 0
		background-color: #f1f1f1
		overflow-y: auto
		overflow-x: hidden
		.nav__list
			position: relative
			right: 0
			margin: 0
			padding-top: 100px
			text-align: center
			transition: all .1s
			z-index: 2

			
		.nav__link
			display: block
			padding: 1.5rem 0
			font-size: 1em
			text-decoration: none
			color: #000
			transition: all .15s
			&:hover 
				background-color: rgba(0,0,0,.1)
				text-decoration: none
				transition: all .15s
	
		.nav__toggle
			background-color: transparent
			transition: all .25s
			&:before 
				transition: all .25s
				top: 0
				transform: rotate(45deg)
			&:after 
				transition: all .25s
				top: -0px
				transform: rotate(-45deg)



.menu-services
	display: none
	position: absolute
	width: 100%
	z-index: 2
	left: 0
	height: 100%
	background: $accent
	padding: 50px 0 0 0
	.container
		position: relative
.ask
	color: #f9f9f7
	font-family: $default-font
	font-size: 14px
	font-weight: 500
	text-transform: uppercase
	min-height: 50px
	display: block
	padding-bottom: 20px
	margin-bottom: 30px
	border-bottom: 1px solid	rgba(#fff,0.2)
	&:last-child
		border: none
.answer
	li
		opacity: 0.8
		margin-bottom: 8px
.accordion
	justify-content: space-between
	>li
		flex: 0 0 23%
		max-width: 23%
		a
			color: #f9f9f7
			&:hover
				color: $subaccent
.menu-services__close
	position: absolute
	top: -35px
	right: 8px
	width: 20px
	height: 20px
	border-radius: 50%
	border: 2px solid #7f7f7f
	cursor: pointer
	&::before, &::after
		content: ''
		position: absolute
		top: 7px
		width: 12px
		height: 2px
		background-color: #7f7f7f
	&::before
		transform: rotate(45deg)
		left: 2px
	&::after
		transform: rotate(-45deg)
		right: 2px

@media (max-width : 991px)
	.menu-services__close
		display: none
	.ask
		display: block
		padding: 5px 6px
		cursor: pointer
		margin-bottom: 0
	.answer
		padding: 15px
		display: none

	.menu-services
		position: static
		width: 100%
		z-index: 2
		left: 0
		height: 100%

	.accordion
		justify-content: space-between
		>li
			flex: 0 0 100%
			max-width: 100%


@media (max-width : 991px)
	.header__callorder,
	.sign-up__label
		display: none
	.header__tel
		text-decoration: underline
		transition: all 0.25s
		i
			display: none

.header__account-wrap
	align-items: center
	@media (max-width : 480px)
		flex: 0 0 44px
		max-width: 44px