section.about.sec-ptb
  .container
    .left_right.flex.tac-mob
      .left
        .title-1 Engis - #[br] от проекта #[br]до реализации
      .right
        p
          |Наша компания  уже более 5 лет выполняет обширный спектр строительных работ, в том числе монтаж внутренних и наружных инженерных коммуникаций в частных и загородных домах под ключ.
        p
          |Инженерные коммуникации в загородном коттедже, это неотъемлемая часть полноценного загородного дома для постоянного проживания. Без отопления, водопровода, канализации и электричества жить в доме просто невозможно. Мы занимаемся всем циклом монтажных и строительных работ и поэтому нам намного проще учесть все стыковочные моменты, связанные с монтажом и прокладкой инженерных коммуникаций и определить когда и где их лучше прокладывать. 
        p
          |Дает гарантию на все виды работ. Используем исключительно сертифицированные материалы, качественное оборудование известных брендов и профессиональные инструменты. 
