section.capabilities.sec-ptb
  .container
    .left_right.flex.tac-mob
      .left
        .title-1 Возможности #[br]безграничны
        p.left-desc Подберем оптимальный функционал систем водоснабжения и канализации для безусловного комфорта жителей дома
      .right
        p.right-desc Выполняем монтаж систем водоснабжения под ключ. Устанавливаем не только системы отопления, но и проводим водоснабжение и канализацию в коттеджах.
        p.right-desc Используем материалы, сантехнику, оборудование от ведущих производителей, контролируя качество на каждом этапе. С нами у вас будет идеально тепло, чисто, уютно.
        a(href="#").n-btn.center-mob.cd-popup-trigger-order-js Рассчитать стоимость
