section.consultation.sec-ptb.sec-bg
  .container
    .left_right.flex.tac-mob
      .left
        .title-1 Давайте начнем #[br]с консультации
        .small-desc Воспользуйтесь этой формой, если хотите задать вопрос #[br]нашим специалистам. Мы ответим в течение 5 минут
        a(href="#").cd-popup-trigger-order-js.n-btn Рассчитать стоимость
      .right
        img(src="img/consultation.jpg", alt="").img--cover
