section.main-block.sec-p.sec-bg
  .container
    .left_right.flex
      .left
        .big-desc Монтаж систем водоснабжения, отопления и канализации вашего #[br]дома #[span.gold-text под ключ]
        .small-desc Назначьте встречу, обсудите с инженером все детали #[br] и получите точную смету работ
        a(href="#").n-btn.cd-popup-trigger-order-js Назначить встречу
      .right
        img(src="img/main-block.jpg", alt="").img--cover
