mixin numeral-list_item(count, some, text)
  .numeral-list_item
    p
      span.count=count
      span.some=some
    p.text=text

section.numeral.sec-ptb.sec-bg
  .container
    .numeral-list.flex.tac-mob
      +numeral-list_item('5', 'лет', 'монтируем и обслуживаем системы отопления')
      +numeral-list_item('0', 'рублей', 'расчет стоимости всех инженерных услуг')
      +numeral-list_item('3', 'года', 'гарантии на наши услуги и оборудование')
      +numeral-list_item('289', 'клиентов', 'остались довольны нашей работой')
