mixin partners-item(img)
  .partners-list_item
    img(src=img, alt="").img


section.partners.sec-ptb
  .container.tac-mob
    .our-partners.flex
      .title-1 Наши партнеры — #[br]мировые гиганты
      .partners-desc Никаких аналогов и подделок — заказываем исключительно оригинальную продукцию у немецких, польских, итальянских производителей, прекрасно зарекомендовавших себя на мировом рынке.
    .partners-list.flex
      +partners-item('img/partner-1.png')
      +partners-item('img/partner-2.png')
      +partners-item('img/partner-3.png')
      +partners-item('img/partner-4.png')
      +partners-item('img/partner-5.png')
      +partners-item('img/partner-6.png')
