mixin causes-item(title_1, title_2, text)
  .causes-list_item
    p.blue-text=title_1
      br 
      =title_2
    p.desc=text

section.why.sec-ptb.sec-bg
  .container.tac-mob
    .title-1 Почему выбирают #[br]Engis
    .causes-list.flex
      +causes-item('Независимый', 'технадзор', 'Компании-производители проверяют монтаж, согласуют работы с Европейским представительством и выдают страховой сертификат')
      +causes-item('Монтажники -', 'славяне', 'В нашем штате -  специалисты с профильным образованием, необходимыми допусками, богатым экспертным опытом')
      +causes-item('Личный инженер', ' на всех этапах', 'Получайте грамотные консультации и ответы на вопросы на любой стадии монтажа коммуникаций')
      +causes-item('Комбинированная', ' гарантия', 'Даем 2 года на монтаж и 10 лет на системы от производителя и от установщика')
      +causes-item('Подтвержденное', ' качество', 'На всю продукцию у нас есть соответствующие сертификаты и другая техническая документация')
      +causes-item('Полный цикл', ' работ', 'Мы выполняем работы любой сложности под ключ, доводя все до идеального отточенного финиша')
