// footer
footer.footer
	.container
		.footer__row.flex
			a(href="/")
				.footer__logo
					img.img(src="img/logo-f.png", alt="")
				.footer__nav
					ul.flex.list
						li
							a(href="#") Наши работы
						li
							a(href="#") Услуги
						li
							a(href="#") Калькулятор
						li
							a(href="#") Акции
						li
							a(href="#") Получить КП
						li
							a(href="#") Контакты
						li.footer__nav-last
							a(href="#") Интернет-магазин
				.footer__contacts.flex
					a.footer__tel.flex(href="tel:+8 (800) 600-51-78") #[i.fas.fa-phone-alt] #[span +8 (800)] 600-51-78
	.footer__bottom
		.container
			.footer__bottom-row.flex-center
				span 2019©Engis. Все права защищены.
				a(href="#") Полититка конфиденциальности

	// /.container

// /.footer

























