// header
header.header
	.header__top
		.container
			.header__top-row.flex
				.header__city
					a(data-fancybox data-src='#modal' href='javascript:;') #[i.fas.fa-map-marker-alt] Москва и МО
						#modal(style='display: none;')
							ul.list.header__city-list
								li
									a(href="#") Казань
								li
									a(href="#") Новосибирск
								li
									a(href="#") Краснодар
				.header__top-right.flex
					.header__contacts.flex
						a(href="tel:+8 (800) 600-51-78").header__tel #[i.fas.fa-phone-alt] +8 (800) 600-51-78
						a(href="#").header__callorder.cd-popup-trigger-order-js Заказать звонок
					.header__account-wrap.flex
						.header__account.flex
							a(href="#").sign-up #[i.far.fa-user] 
								span.sign-up__label Вход
									span / 
									span.log-in Регистрация
						a(href="#").header__search #[i.fas.fa-search.header__search-js]
							form.form-search(action="#")
								input(type="search" placeholder="Поиск по сайту")
								button(type="submit") 
									i.fas.fa-search
	.header__bottom
		.container
				.header__bottom-row.flex
					.header__logo
						a(href='/')
							img.img(src="img/logo.png", alt="")
					nav.nav
						.nav__toggle
						ul.nav__list
							li
								a.nav__link(href='#') Наши работы и отзывы
							li.nav_submenu
								a.nav__link(href='#') Услуги
								.menu-services
									.container
										.menu-services__close
										ul.accordion.list.flex
											li
												span.ask Инженерные<br> коммуникации
												ul.answer.list
													li
														a(href="#") Отопление, Водоснабжение, Канализация
													li
														a(href="#") Электрика
													li
														a(href="#") Умный дом
													li
														a(href="#") Септик
													li
														a(href="#") Скважин
											li
												span.ask Интерьерные<br> решения
												ul.answer.list
													li
														a(href="#") Дизайн проектирование
													li
														a(href="#") Отделочные работы
													li
														a(href="#") Штукатурные работы
													li
														a(href="#") Стяжка
											li
												span.ask Благоустройство<br> территорий
												ul.answer.list
													li
														a(href="#") Ландшафтный дизайн
													li
														a(href="#") Возведение заборов
													li
														a(href="#") Въездные группы
													li
														a(href="#") Озеленение
											li
												span.ask Двери,#[br] ворота,#[br] рольставни
							li
								a.nav__link(href='#') Калькулятор
							li
								a.nav__link(href='#') Акции
							li
								a.nav__link(href='#') Контакты
					.header__shop
						a(href="#" ) интернет-магазин

