extends layout/main

block variables
	- let title = 'Электрика'
	- var body_class = 'electrics-page'



block content
	include sections-electrics-page/main-block
	include sections-electrics-page/services
	include sections-electrics-page/3d
	include sections-electrics-page/projects
	include sections-electrics-page/process-result
	include sections-electrics-page/why
	include sections-electrics-page/numeral
	include sections-electrics-page/partners
	include sections-electrics-page/consultation
	include pug-modules/szpopup