extends layout/main

block variables
	- let title = 'Отделка'
	- var body_class = 'finishing-page'



block content
	include sections-finishing-page/main-block
	include sections-finishing-page/services
	include sections-finishing-page/3d
	include sections-finishing-page/projects
	include sections-finishing-page/process-result
	include sections-finishing-page/why
	include sections-finishing-page/numeral
	include sections-finishing-page/partners
	include sections-finishing-page/consultation
	include pug-modules/szpopup

