extends layout/main

block variables
	- let title = 'Название - Главная'



block content
	include sections-index/main-block
	include sections-index/about
	include sections-index/3d
	include sections-index/numeral
	include sections-index/projects
	include sections-index/why
	include sections-index/capabilities
	include sections-index/partners
	include sections-index/consultation
	include pug-modules/szpopup





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")
