.finishing-services
	.left_right.flex.tac-mob
		justify-content: space-between

		.right
			width: 550px
			p
				font-size: 18px

	.finishing-list
		margin-top: 70px
		justify-content: space-between
		flex-wrap: wrap

		.finishing-list_item
			font-size: 18px
			@include f-width(48%)

			img
			.title-5
				margin-top: 45px
				margin-bottom: 35px
				font-weight: 600
				text-transform: uppercase
				line-height: 1.5
				color: $accent
			ul
				margin: 30px 0
				list-style: none
				li
					position: relative
					margin: 10px 0
					&::before
						content: ''
						display: block
						border: 6px solid transparent
						border-left: 6px solid $accent
						position: absolute
						top: 7px
						left: -15px

						@media ( max-width: 767px)
							left: 15px

			.n-btn
				margin-top: 70px
				background-color: $subaccent
				font-size: 18px

				&:hover
					background-color: $accent

	@media ( max-width: 991px)
		.left_right
			.left
				margin-bottom: 15px
				@include f-width(100%)

		.finishing-list
			margin-top: 0
			.finishing-list_item
				margin: 55px auto 0
				@include f-width(100%)

				.n-btn
					margin-top: 40px

	@media ( max-width: 767px)
		.left_right.flex.tac-mob
			flex-direction: column
			.right
				width: 100%
				p
					font-size: 16px
