section.block-3d.sec-ptb
  .container
    .left_right.flex.tac-mob
      .left
        .title-1 Совершите прогулку #[br] по нашим объектам
        .small-desc посмотрите, как мы проводим работы #[br] на наших объектах
        a(href='#', data-fancybox="gal1", data-type="iframe", data-src="http://codepen.io/fancyapps/full/jyEGGG/").n-btn 3D тур по объектам
      .right
        .slider-3d
          //- ITEM
          .slider-3d_item
            a(href='img/3d.jpg', data-fancybox="gal-type-stairs", data-type="iframe", data-src="http://codepen.io/fancyapps/full/jyEGGG/").n-img
              .slider-3d__img
                img(src='img/3d.jpg', alt="").img--cover
              div.right-footer
                p.slider-3d__headline Установка котельного оборудования, п. Пушкино, МО
          //- ITEM
          .slider-3d_item
            a(href='img/3d.jpg', data-fancybox="gal-type-stairs", data-type="iframe", data-src="http://codepen.io/fancyapps/full/jyEGGG/").n-img
              .slider-3d__img
                img(src='img/3d.jpg', alt="").img--cover
              div.right-footer
                p.slider-3d__headline Установка котельного оборудования, п. Пушкино, МО
        