section.consultation.sec-ptb.sec-bg
  .container
    .left_right.flex.tac-mob
      .left
        .title-1 Давайте приступать #[br]к отделке
        .small-desc Пригласим к вам замерщика прямо сегодня и все рассчитаем. Также при вашем желании можем сделать предварительную оценку сметы дистанционно
        a(href="#").cd-popup-trigger-order-js.n-btn Рассчитать стоимость
      .right
        img(src="img/finishing-page/consultation.jpg", alt="").img--cover