section.main-block.sec-p.sec-bg
	.container
		.left_right.flex
			.left
				.big-desc Отделочные работы#[br] #[span.gold-text любой сложности] #[br] в частных домах и квартирах
				.guarantee__descr.flex
					.descr__item
						h3.descr__item_title гарантия #[br]до 3 лет
					.descr__item
						h3.descr__item_title Мастера  #[br]с допусками
					.descr__item
						h3.descr__item_title Современные #[br]безопасные материалы
				a(href="#").n-btn.cd-popup-trigger-order-js Назначить встречу
			.right
				img(src="img/finishing-page/main-block.jpg", alt="").img--cover
