mixin numeral-list_item(some1, count, some2, text)
  .numeral-list_item
    p
      span.some=some1
      span.count=count
      span.some=some2
    p.text=text

section.numeral.sec-ptb.numeral-blue
  .container
    .numeral-list.flex.tac-mob
      +numeral-list_item('более','7', 'лет', 'работаем в сфере отделки')
      +numeral-list_item('','500', 'тысяч', 'кв.м отремонтировали суммарно')
      +numeral-list_item('','48', '%', 'клиентов обращаются по рекомендации')
      +numeral-list_item('','30', '', 'мастеров-экспертов в штате компании')
