mixin partners-item(img)
  .partners-list_item
    img(src=img, alt="").img


section.partners.sec-ptb
  .container.tac-mob
    .our-partners.flex
      .title-1 Engis: прицел на высокое #[br]качество и технологии
      .partners-desc
        p Мы — крупная строительная компания, эффективно решающая задачи клиентов любой сложности. Беремся даже за самые сложные и нестандартные задачи благодаря собственным мощным ресурсам. Сотрудничаем с мировыми брендами, закупая премиальные материалы для отделки.
    .partners-list.flex
      +partners-item('./img/partner-1.png')
      +partners-item('./img/partner-2.png')
      +partners-item('./img/partner-3.png')
      +partners-item('./img/partner-4.png')
      +partners-item('./img/partner-5.png')
      +partners-item('./img/partner-6.png')