// BEGIN SLIDER
.process.sec-ptb
	.container
		.title-1.process__title Портфолио:  мы выполнили более#[br] 850 объектов под ключ
		.process-slider
			#js-process-slider
				.js-slide
					.process__item
						.twentytwenty-container
							img.img(src='img/electrics-page/before.jpg')
							img.img(src='img/electrics-page/before.jpg')
				.js-slide
					.process__item
						.twentytwenty-container
							img.img(src='img/electrics-page/before.jpg')
							img.img(src='img/electrics-page/before.jpg')


		// /#js-process-slider
		// /.process
// END SLIDER
