mixin finishing-list_item(img, title, topText,list, bottomText)
	.finishing-list_item.tac-mob
		img(src=img, alt="").img
		.title-5=title 
		p=topText
		ul!=list
		p=bottomText
		a(href="#").n-btn.cd-popup-trigger-order-js Рассчитать стоимость

//sec1 BEGIN
section.finishing-services.sec-p
	.container
		.left_right.flex.tac-mob
			.left
				.title-1 Решаем задачи #[br]комплексно
			.right
				p Выполняем все виды отделочных работ от подготовительных до финальных. Работаем основательно, в полном соответствии со строительными нормами СНиП. 

		.finishing-list.flex
			+finishing-list_item('img/finishing-page/finishing-1.jpg',
			'Черновая отделка',
			'Подготавливаем объект к ремонту любого уровня, выполняем предчистовые работы.',
			'<li> Удаление дефектов со стен, штукатурка, шпаклевка;</li><li> Стяжка и выравнивание пола;</li><li> Электромонтажные работы, прокладка инженерных сетей;</li><li> Установка сантехники, радиаторов.</li>',
			'Перечень работ индивидуален, может дополнительно включать установку окон, гидро- и теплоизоляцию.')
			+finishing-list_item('img/finishing-page/finishing-2.jpg',
			'чистовая отделка',
			'Выполняем непосредственно косметические работы — воплощаем в жизнь дизайн-проект.',
			'<li>Настил пола (ламинат, паркет, линолеум);</li><li>Декор стен (покраска, обои, декоративная штукатурка, плитка и многое другое); </li><li>Установка потолков (натяжные, навесные конструкции);</li><li>Монтаж дверей, элементов декора.</li>',
			'Доводим до нужного результата — придаем помещению полностью законченный вид.')

//sec1 END
