mixin causes-item(title_1, title_2, text)
  .causes-list_item
    p.blue-text=title_1
      br 
      =title_2
    p.desc=text

section.why.sec-ptb.sec-bg
  .container.tac-mob
    .title-1 Причины, по которым люди#[br] делают выбор в нашу пользу
    .causes-list.flex
      +causes-item('Прозрачный формат', 'работы', 'Точно рассчитываем стройматериалы, составляем фиксированную смету — никакого обмана')
      +causes-item('Официальная гарантия', 'по Договору до 5 лет', 'Это залог вашего спокойствия и уверенности в отличном результате')
      +causes-item('Экспертные', 'рекомендации', 'Расскажем, как сохранить эффектный внешний вид покрытий с помощью простых приемов ухода')
      +causes-item('Персональный менеджер', '24/7', 'В любой момент звоните, пишите, задавайте вопросы по ходу ремонта или другим моментам')
      +causes-item('Соблюдаем сроки с точностью', 'до 1 дня', 'Дорожим репутацией и выполняем все запланированные работы в оговоренное время')
      +causes-item('Работают исключительно', 'профессионалы-славяне', 'Проводим 3-ступенчатый отбор специалистов по ремонту — за дело берутся только достойные мастера')
