@import "_include/vars"
@import "_include/mixins"

@import "_include/fonts"
@import "_include/libs"
@import "_include/reset"
@import "_include/common"

/* ------------------------------------- 
 Modules 
 ------------------------------------- */
@import "_modules/forms"
@import "_modules/buttons"
@import "_modules/szpopup"
/* ------------------------------------- 
 Sections 
 ------------------------------------- */
@import "_sections/header"
@import "_sections/footer"

/* ------------------------------------- 
 Main page 
 ------------------------------------- */
@import "_sections-index/hero"
@import "_sections-index/main-block"
@import "_sections-index/about"
@import "_sections-index/3d"
@import "_sections-index/numeral"
@import "_sections-index/projects"
@import "_sections-index/why"
@import "_sections-index/capabilities"
@import "_sections-index/partners"
@import "_sections-index/consultation"



/* ------------------------------------- 
 Finishing page 
 ------------------------------------- */
@import "_sections-finishing-page/finishing-page"

/* ------------------------------------- 
 Electrics page 
 ------------------------------------- */
@import "_sections-electrics-page/electrics-page"
@import "_sections-electrics-page/electrics-process"

	